<div class='container'>
<div class= 'card'>
   <div class= 'jumbotron mt-4'>

<h5> Please sign up</h5>
<%= form_with model: @user, local:true do |f|%>

<% if @user.errors.any? %>
<%= @user.errors.full_messages.join(', ') %>
<% end %>

<div class='form-group mb-3'>
<%= f.label :name, 'Name' %>
<%= f.text_field :name, class:'form-control' %>
</div>

<div class='form-group mb-3'>
<%= f.label :email, 'Email' %>
<%= f.email_field :email, class:'form-control' %>
</div>

<div class='form-group mb-3'>
<%= f.label :password, 'Password' %>
<%= f.password_field :password, class:'form-control' %>
</div>

<div class='form-group mb-3'>
<%= f.label :password_confirmation, 'Comfirm Passoword' %>
<%= f.password_field :password_confirmation, class:'form-control' %>
</div>

<div class='form-group mb-3'>
<%= f.submit 'Sign Up', class:'btn btn-outline-primary' %>
</div>

<% end %>
</div>
</div>
</div>