<!DOCTYPE html>
<html>
  <head>
    <title>BlogsOnRail</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  
  <body>
  <%= render 'shared/navbar' %>
  <div class='container'>
  <h4><%= flash[:notice] || flash[:alert] %></h4>
  </div>
    <%= yield %>
  </body>
</html>
